body{margin:0;font-family:Simsun,system-ui,sans-serif;line-height:1.5em;font-size:16px;}
a{color:#00f;display:inline-block;}
a:focus,a:hover{color:#f00;}
div{border-radius:3px;}
div#main{display:flex;place-content:center;}
div.page{background:#fff;overflow:hidden;}
div.content{padding:8px;}
div#toolbar{display:none;}
@media screen and (min-device-width:60mm){
  div#main{padding-top:2em;}
  div.content{padding:1.1cm;}
  body{background:url("bg.svg");background-attachment:fixed;}
}
@media screen and (min-device-width:120mm){
  div.content{padding:2.2cm;}
}
@media screen and (min-device-width:240mm){
  div.page{width: 210mm;height:297mm;}
  div#toolbar{background: #fff;padding: 8px;display:inline-block;position: fixed;top: 0;right: 0;}
}
h1,h2,h3,h4,h5,h6{margin:0;}
ul li{list-style-image:url('list.gif');}

select{min-height:22px;border:none;font-size:16px;}